/* general style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header, #container {
    background-color: #ffffff;
}

/* header style */

header {
    padding: 5px;
    margin-bottom: 40px;
    font-size: 25px;
}

#logo {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#logo-text {
    line-height: 50px;
    vertical-align: middle;
}


/* container style */

#container {
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

/* button section style */

#button-section {
    padding: 10px 50px;
    border-bottom: 2px solid #f6f8f9;
    margin-bottom: 30px;
}

button {
    font-size: 10px;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    border: none;
}

.button.task {
    color: #ffffff;
    background-color: #47adf1;
}

.button.section {
    border: 1px solid lightgray;
    color: #d3d7d9;
}

/* principal section style */

#container2 {
    padding-left: 50px;
}

.list-item {
    margin-top: 20px;
}

h2 {
    color: #444851;
    font-size: 20px;
}

h2::before {
    font-size: 15px;
    content:'\25BC';
}

.item {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #4c5055;
}

.item::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

.item.affermative::before {
    content:'\2713';
    color: green;
    border: 0.5px solid green;
}

.item.negative::before {
    content:'\2715';
    color: red;
    border: 0.5px solid red;
}

.bloc {
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
    height: 20px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}


/* color bloc */

.bloc.blue {
    background-color: #47adf1;
}

.bloc.purple {
    background-color: #9c72e4;
}

.bloc.aqua {
    background-color: #64c0a8;
}

.bloc.orange {
    background-color: #f29e33;
}

.bloc.pink {
    background-color: #d863a0;
}

.bloc.green {
    background-color: #b0c926;
}